

body {
    margin: 0;
}
.card {
    width: 500px;
    height: fit-content;
    background-color: rgb(235, 79, 134);
    margin: 10px;
}

.borda-card {
    border: 3px solid rgb(137, 35, 168);
}

.perfil {
    width: 100px;
    height: 100px;
    background-color: rgb(242, 32, 249);
}

.icon {
    width: 100%;
    height: 100%;
}

h1 {
    color: rgb(194, 171, 210);
    font-family: cursive;
}

p {
    color: rgb(239, 180, 240);
    font-family: cursive;
}

span{
    color:purple;
}